@import url('https://fonts.googleapis.com/css2?family=Poppins:wgh@300;400;500;600;700;800;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --text-color: #fff;
    --main-color: #03006C;
    --main-color3: #070364;
    --main-color2: #0ef;
    --black-color: #000;
}

html{
    font-size: 65.5%;
    overflow-x: hidden;
}

body{
    background: var(--text-color);
    color: var(--black-color);
    overflow: hidden;
}
/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 3.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--black-color);
    margin-left: 4rem;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

/* MENU ICON */
#menu-icon{
    font-size: 3.6rem;
    color: var(--black-color);
    display: none;
}

/* Home*/
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--black-color);
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--black-color);
}

.home-content p{
    font-size: 1.6rem;
    color: var(--black-color);
}

.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    
    50%{
        transform: translateY(-2.4rem);
    }
    
    100%{
        transform: translateY(-2.4rem);
    }
}

.social-media a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/*Sobre Nós*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about h2{
    color: var(--text-color);
}

.about-img img{
    width: 35vw;
    border-radius: 5rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
    color: var(--text-color);
}

.about-content h3{
    font-size: 2.6rem;
    color: var(--text-color);
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: var(--text-color);
}

/*Nossos Cursos*/
.services h2{
    margin-bottom: 2rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    cursor: pointer;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 5rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: var(--text-color);
    align-items: center;
}

.services-box p{
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
    color: var(--text-color);
}
.services-box h3{
    color: var(--text-color);
    font-size: 2.7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.services-box a{
    align-items: center;
    right: 15px;
}

.produtoCursos {
    margin-top: 20%;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.destaque {
  border: 2px solid var(--main-color);
  background-color: var(--text-color);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--main-color);
}

#listaCursos .produto {
    margin-top: 10px;
    border: 2px solid var(--main-color);
    background-color: var(--text-color);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 1.9rem;
}

.destaque h3 {
  color: var(--main-color);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.destaque p {
  color: var(--black-color);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.destaque button {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Categoria */
.categoria{
    background: var(--second-bg-color);
}

.categoria h2{
    margin-bottom: 4rem;
    color: var(--text-color);
}

.categoria-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.categoria-container .categoria-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
    cursor: pointer;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.categoria-box img{
    width: 100%;
    transition: .5s ease;
}

.categoria-box:hover img{
    transform: scale(1.1);
}

.categoria-box .categoria-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
}

.categoria-layer h4{
    font-size: 4rem;
    color: var(--text-color);
}

.categoria-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--text-color);
}

.categoria-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.categoria-layer a i{
    font-size: 2rem;
    color: var(--main-color);
}

/* Lista de pacotes */
#destaqueCategoria h4{
    font-size: 18px;
}

#destaqueCategoria ul {
  list-style-type: disc;
  padding-left: 25px;
  margin: 8px 0 15px 0;
  font-size: 12px;
}

#destaqueCategoria li {
  margin-bottom: 6px;
  font-size: 14px;
}

#destaqueCategoria {
  border: 2px solid var(--main-color);
  background-color: var(--text-color);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--main-color);
}

#listaCategoria .category {
    margin-top: 10px;
    border: 2px solid var(--main-color);
    background-color: var(--text-color);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 1.9rem;
}

#destaqueCategoria h3 {
  color: var(--main-color);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#destaqueCategoria p {
  color: var(--black-color);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

#destaqueCategoria button {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Sessão Contactos*/
.contactos h2{
    margin-bottom: 3rem;
}

.contactos form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contactos form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactos form .input-box input,
.contactos form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contactos form .input-box input{
    width: 49%;
}

.contactos form textarea{
    resize: none;
}

.contactos form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/*Cursos*/
.curso {
    margin-top: 3rem;
}

#beginner-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--text-color);
}

.cursos-content h2{
    color: var(--black-color);
}

.cursos-img img{
    width: 20vw;
    border-radius: 5rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.cursos-content h2{
    text-align: left;
    line-height: 1.2;
    color: var(--black-color);
}

.cursos-content h3{
    font-size: 2.6rem;
    color: var(--black-color);
}

.cursos-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: var(--black-color);
}

/*Cursos Serviços*/
.services h2{
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.services-container .services-box{
    flex: 1 2 20rem;
    background: var(--second-bg-color);
    padding: 1rem 2rem 2rem;
    border-radius: 3rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: var(--text-color);
    align-items: center;
}

.services-box p{
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
    color: var(--text-color);
}
.services-box h3{
    color: var(--text-color);
    font-size: 2.7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.services-box a{
    align-items: center;
    right: 15px;
}

/* Sessão footer*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer p a{
    text-decoration: none;
    color: var(--text-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--text-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    
    section{
        padding: 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }

    .categoria{
        padding-bottom: 7rem;
    }

    footer{
        padding: 2rem 3%;
    }
    
}

@media(max-width: 989px){
    .services-container .services-box{
        flex: 1 1 40rem;
    }

    .categoria-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--text-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .services img{
        width: 35vw;
    }

    .categoria h2{
        margin-bottom: 3rem;
    }

    .categoria-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .contactos{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width: 463px){
    html{
        font-size: 50%;
    }

    .services-container .services-box{
        flex: 1 1 100%;
    }

    .about .about-img img{
        width: 80%;
    }

    .info-content.login h2{
        font-size: 26px;
    }

    .categoria-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    
    .contactos form .input-box input{
        width: 100%;
    }

    .services img{
        width: 35vw;
    }
    
    .services.services-box.btn {
        text-align: center;
        margin-top: 2rem;
    }

}



@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    
    .services h2{
        font-size: 40px;
    }

    .services-container {
        padding: 10%;
    }

    .services-box {
        width: 50%;
    }

    .about {
        padding: 50px;
    }

    .about #sobre_nos{
        padding: 50px;
    }

    .about .about-content {
        padding: 10px 10px 0;
    }

    .about .about-img img {
        width: 90%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }

    .login-container{
        display: flex;
        width: 350px;
        height: 450px;
    }

    .info-content.login{
        display: none;
    }
    
    .info-content.Cadastrar{
        display: none;
    }

    .categoria h2 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .categoria-container{
        grid-template-columns: repeat(1, 2fr);
    }

    .categoria .categoria-container {
        padding: 30px;
    }

    .categoria-layer h4 {
        font-size: 20px;
        font-weight: 600;
    }

    .categoria-layer p {
        font-size: 15px;
    }
    
}